$color-grey: #cccccc;
$color-magenta: #ff3998;
$color-white: white;
$color-black: black;
$spacing-1: 11px;
$spacing-2: 15px;
$spacing-3: 18px;
$spacing-4: 32px;
$font-1: 7px;
$font-2: 9px;
$font-3: 18px;
$font-4: 43px;
